VEDK_Dashboard/Service References/GetParker/getparker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetParker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inputDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SupplierGUID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParkerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetParkerResult" type="tns:Output" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Output">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Parker" type="tns:ArrayOfPark" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPark">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Park" nillable="true" type="tns:Park" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Park">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ParkGSRN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EDEIL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Netselskab" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KWEffekt" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetParkerSoapIn">
    <wsdl:part name="parameters" element="tns:GetParker" />
  </wsdl:message>
  <wsdl:message name="GetParkerSoapOut">
    <wsdl:part name="parameters" element="tns:GetParkerResponse" />
  </wsdl:message>
  <wsdl:portType name="GetParkerSoap">
    <wsdl:operation name="GetParker">
      <wsdl:input message="tns:GetParkerSoapIn" />
      <wsdl:output message="tns:GetParkerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetParkerSoap" type="tns:GetParkerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetParker">
      <soap:operation soapAction="http://tempuri.org/GetParker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetParkerSoap12" type="tns:GetParkerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetParker">
      <soap12:operation soapAction="http://tempuri.org/GetParker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetParker">
    <wsdl:port name="GetParkerSoap" binding="tns:GetParkerSoap">
      <soap:address location="http://729346.shop23.eseller.dk/ws/getparker.asmx" />
    </wsdl:port>
    <wsdl:port name="GetParkerSoap12" binding="tns:GetParkerSoap12">
      <soap12:address location="http://729346.shop23.eseller.dk/ws/getparker.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>